@import 'src/styles/variables';

.loader_size-s {
  display: inline-block;
  border: 3px solid $red;
  border-right-color: $dark-white;
  border-radius: 100%;
  animation: spin 1s linear infinite;
  transform: rotate(35deg);
  @include loader-size(20px, 20px);
}

.loader_size-m {
  display: inline-block;
  border: 5px solid $red;
  border-right-color: $dark-white;
  border-radius: 100%;
  animation: spin 1s linear infinite;
  transform: rotate(35deg);
  @include loader-size(40px, 40px);
}

.loader_size-l {
  display: inline-block;
  border: 6px solid $red;
  border-right-color: $dark-white;
  border-radius: 100%;
  animation: spin 1s linear infinite;
  transform: rotate(35deg);
  @include loader-size(60px, 60px);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
