@import '../../styles/variables';

@media screen and (max-width: 420px) {
  .wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
  }
}

@media screen and (min-width: 421px) {
  .wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}


.dropdown {
  position: relative;
}

.menu {
  max-width: $mobileWidth;
  position: relative;
  padding: 24px 24px 0;

  &__img {
    opacity: .1;
    position: absolute;
    right: 0;
    top: 0;
    width: 375px;
    z-index: -1;
  }

  &__input {

  }

  &__recipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: scroll;
    max-height: 100vh;
    padding-right: 3%;;
  }
}

.error {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: $red;
}