@import '../../styles/variables';

.menu {
  max-width: $mobileWidth;
  padding-left: 24px;

  &__recipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: scroll;
    max-height: 100vh;
    padding-right: 3%;;
  }
}

.error {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: $red;
}