// colors
$white: #ffffff;
$dark-white: #f9f9f9;
$red: #ff0000;
$yellow: #ffd100;
$light-pink: #fff0f0;
$dark-pink: #ffdfdf;
$light-black: #898787;

//width
$mobileWidth: 375px;
$inputWidth: 70%;
$cardWidth: 45%;

//height
$cardTitleH: 100px;
$cardSubtitleH: 131px;

@mixin text($font-weight, $font-size, $line-height) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin button-size($width, $height) {
  width: $width;
  height: $height;
}

@mixin loader-size($width, $height) {
  width: $width;
  height: $height;
}
