@import 'src/styles/variables';

.card {
  width: $cardWidth;
  margin-bottom: 15px;
  background: $white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.12);
  border-radius: 10px;

  &__block {
    padding-left: 12px;
    padding-right: 12px;

    &-rating {
      display: flex;

      &-num {
        margin-left: 4px;
      }
    }

    &-img {
      display: block;
      width: 87px;
      margin-left: auto;
      margin-right: auto;
    }

    &-title {
      height: $cardTitleH;
      margin-top: 15px;
      @include text(500, 18px, 25px);
    }

    &-subtitle {
      height: $cardSubtitleH;
      @include text(400, 12px, 16px);
      letter-spacing: -0.03em;
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-content {
        color: $red;
      }

      &-btn {
        border-radius: 50%;
        background-color: $red;
        color: $white;
        border: none;
        font-size: 20px;
        @include button-size(24px, 24px);
      }
    }
  }
}
