@import 'src/styles/variables';

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.recipe {
  max-width: $mobileWidth;

  &__block {
    position: relative;

    &-img {
      width: 100%;
    }

    &-link {
      position: absolute;
      top: 8%;
      left: 3%;

      &-btn {
        background: $yellow;
        border-radius: 7px;
        border: transparent;
        opacity: 0.7;
        @include button-size(45px, 45px);
      }
    }
  }

  &__description {
    padding-left: 34px;
    padding-right: 46px;

    &-title {
      text-align: left;
      margin-top: 48px;
      margin-bottom: 20px;
      @include text(500, 27px, 35px);
    }

    &-rating {
      display: flex;
      justify-content: space-between;

      &-star {
        display: flex;
        align-items: center;

        &-img {
          width: 16px;
          height: 16px;
          margin-right: 10px;
        }

        &-text {
          color: $light-black
        }
      }

      &-heart {
        display: flex;

        &-img {
          margin-right: 15px;
        }

        &-text {
          color: $light-black
        }
      }
    }

    &-summary {
      text-align: left;
      @include text(500, 12px, 21px);
    }
  }
}
